<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AstroHub </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/fotos/icon.jfif">
</head>

<body id="home">

    <div class="hero">

        <div class="content">

            <p> Bem-vindo(a) ao </p>
            <h1> AstroHub </h1>
            <a href="/inicio"><button type="button" class="btnHome"> Conhecer </button></a>

        </div>

        <!-- <div class="side-bar">

             <img src="images/menu.png" class="menu" alt="menu"> 

            <div class="socias-links">

                <a href="/equipe"><img src="images/icons/usuarios-alt.png" alt="sobre nossa equipe" title="sobre nossa equipe"></a>
                <a href="/sobre"><img src="images/icons/informacoes.png" alt="sobre a empresa" title="sobre a empresa"></a>
                

            </div> 

             <div class="useful-links">

                <img src="images/share.png" alt="compartilhar"> 
                
            </div>

        </div> -->

      

    </div>

</body>

</html>